
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    /*SECTION CONFIG*/
    .section{
        @apply py-10 px-10 text-white text-2xl
    }
    .section-title{
        @apply text-3xl font-semibold text-white shadow-sm py-2 mb-3
    }
    .main-body{
        @apply text-center pt-20 bg-gradient-to-r from-gray-400 to-gray-600 text-black min-h-screen
        flex flex-col flex-grow      
    }

    /*BUTTONS*/
    .simple-button{
        @apply  text-white text-lg bg-blue-500 p-2 rounded-md;
        @apply  hover:border-white hover:text-blue-500 hover:bg-white
    }
    .button{
        @apply px-4 py-2 rounded-md text-white font-medium text-center inline-block transition-colors duration-200;
        @apply hover:scale-105 hover:shadow-xl
    }
    .button-edit{
        @apply bg-blue-500
    }
    .button-delete{
        @apply bg-red-500
    }

    /*FORMS*/
    .input-style{
        @apply rounded-lg text-black font-normal text-center mt-1
    }
    .company-field{
        @apply mx-8 rounded-lg text-white font-semibold flex flex-col
    }
    .form-layout{
        @apply w-[60%] py-2 px-10 justify-self-center
    }

    /*MISC*/
    .blue-gradient{
        @apply bg-gradient-to-r from-blue-500 to-blue-700
    }
    .message-animation{
        @apply animate-in fade-in duration-300
    }
}